# -------------------------------
# Node / NestJS
# -------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
/dist
/.nest
/build

# Environment variables
.env
.env.local
.env.*.local
!.env.example         # keep example file if you have one

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by Jest
/coverage
/.nyc_output

# Dependency directories (if you use